 <header>
   <div class="row">
       <nav class=" col-lg-12 navbar navbar-expand-md navbar-dark navbar-bg text-light">
           <h3>
               <i class=" material-icons md-36 ml-3 ">school</i>
               MentorBuddy
           </h3>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
               <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse ml-3 mr-2" id="collapsibleNavbar">
               <ul class="navbar-nav ml-auto">
                 
                   <li class="nav-item active ">
                         <a class="nav-link" routerLink="mentorSignup/" >Register as Mentor</a> 
                     </li>
                   <li class="nav-item active ">
                         <a class="nav-link" routerLink="traineeSignup/" >Register as Trainee</a> 
                     </li>
                   <li class="nav-item active " *ngIf="loggedIn() && this.isTrainee">
                         <a class="nav-link" routerLink="training/" >Enrollment</a> 
                     </li>
                   <li class="nav-item active" *ngIf="!loggedIn()">
                       <a class="nav-link" routerLink="login/">Login</a>
                   </li>
                 <li class="nav-item active"  *ngIf="loggedIn()" (click)="this.authService.logout()">
                     <a class="nav-link" routerLink="login/">Logout</a>
                 </li> 
               </ul>
           </div>
       </nav>
   </div>
 </header>
 <router-outlet></router-outlet>
 <footer>
   <nav class="navbar navbar-expand-md navbar-dark navbar-bg text-light fixed-bottom">
    "Anyone who stops learning is old, whether at twenty or eighty.” — HENRY FORD
   </nav>
 </footer>
